body {
    margin: 0px;
    background-color: white;
}

p { 
    margin: 0px;
    padding: 5px;
    color: white;
}

h2 {
    margin: 0px;
    padding: 5px;
}

.footerPages {
    color: white;
    padding: 5px;
}

#logo {
    max-width: 275px;
    max-height: 150px;
    padding-left: 15px;
    align-self: center;
}

#logoLink {
    display: flex;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 20px;  
}

#portLayout .container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "button"
        "main"
        "footer";
    gap: 20px;  
}

.subContainer {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    justify-content: center;
}

header {
    grid-area: header;
    background: #262626;
}

.headerLinkList {
    display: flex;
    list-style: none;
    align-items: center;
}

nav a.active {
  color: #ffe300;
  font-weight: bold;
  text-decoration: underline;
}

main {
    grid-area: main;
    min-height: 100vh;
}

#mainBody {
    display: flex;

}

#bodyText p {
    font-size: 1.5rem;
    color: black;
    margin: 5px;
}

#bodyText h3 {
    font-size: 2rem;
    margin: 10px;
}

.statement {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.bodySec {
    max-width: 700px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#consultation {
    display: flex;
    justify-content: center;
    flex: 3;
}

#ctTextStart {
    background-color: black;
    padding: 20px; 
    border-radius: 10px;
    width: 100%; 
    max-width: 500px;
    height: fit-content;
    color: white;
}

#ctTextStart h2 {
    text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

label {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1rem 1rem 0;
    align-self: flex-start;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    -webkit-appearance: none;  /* Remove iOS default styling */
    appearance: none;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    color: black;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

legend {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: #bf7213;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #555;
}

#bodyText {
    display: flex;
    flex-direction: column;
    align-self: right;
    max-width: 1000px;
    background-image: linear-gradient(rgba(160, 160, 160, 0.6), rgba(224, 229, 229, 0));
    align-items: left;
    border-radius: 15px;
    padding: 15px;
}

.jmv {
    color: orange;
    background-color: black;
    max-width: max-content;
    padding: 10px;
    border-radius: 10px;
}

footer {
    grid-area: footer;
    background-color: black;
}

#footer {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
    color: white;
}

.hfcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hftext {
    color: white;
}

.fluidContainer {
    max-width: 1400px;
    height: 100%;
    width: 100%;
}

.logo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.split {
    height: 2px;
    background-color: white;
}


#header {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-self: center;
    color: white;
}

nav {
    width: 100%;
    align-items: center;
    padding: 15px;
    display: flex;
    justify-content: right;  
}

.links {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.quote {
    border: none;
    outline: none;
    background-color: orange;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

#getQuoteBody {
    display: flex;
    justify-content: center;
}

.hamburger {
display: none;
font-size: 1.8rem;
background: none;
border: none;
cursor: pointer;
color: white;
}

@media (max-width: 600px) { 

    #homepage {
        background-image: none;
    }

    .hamburger {
    display: block;
    width: 100px;
    }

    .headerLinkList {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background: white;
        border-radius: 8px;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 155px;
        left: 0;
        margin-top: 0px;
    }
    nav ul  {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    }

    #header #headerLinkList a{
        color: black;
    }

    ul.active {
        display: flex;
    }

    #header {
        justify-content: space-evenly;
        height: 150px;
        color: white;
    }

    #logo {
        max-width: 200px;
    }

    .links {
        border-bottom: 2px solid black;
        width: 100%;
        align-items: center;
        font-size: 1.5rem;
    }

    #mainBody {
        flex-direction: column;
    }

    #middle {
        flex-direction: column;
    }

    #footer {
        display: none;
    }
}