/* img {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
} */

.staged {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
}

main {
    min-height: 100vh;
}

#mainContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
    align-content: baseline;
}


#myBtnContainer {
    grid-area: button;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#btnBorder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.picture {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 15px;
    width: 350px;
    height: 250px;
    margin: 10px;
}

.hide {
    display: none; 
}

.btn.selectAll {
    background-color: yellow;
}

.btn {
    color: black;
    grid-area: header;
    justify-content: center;
    border: 1px solid #262626;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
    margin: 10px;
}

#getQuote {
    display: flex;
    justify-content: center;  
}

#myBtn {
    display: flex;
    align-items: center;
}

#mainQuoteBtn {
    width: 20%;
    font-size: 1.5em;
    min-width: 125px;
    padding: 15px 20px; 
}

.quoteH:hover {
    opacity: 60%;
}

.btn:hover {
    opacity: 60%;
}
